@charset "UTF-8";
/****************************************************
/*
/* slide config
/*
****************************************************/
/* slide common style
****************************************************/
@import url(../../lib/font/noto-sans-cjk-jp/NotoSansCJKjp.css);
*, *::before, *::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

ul, ol, dl {
  padding: 0;
  margin: 0; }

embed, iframe, object {
  max-width: 100%; }

/****************************************************
/*
/* slide style
/*
****************************************************/
/* Custom classes
****************************************************/
/* clearfix ************************************/
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.ib-left {
  display: inline-block;
  text-align: left; }

/* Custom mixins
****************************************************/
/* 文字サイズ出力 ************************************/
/* 上下左右中央レイアウト ************************************/
/* mediaQuery ************************************/
/* iframe responsive ************************************/
/* Include theme-specific fonts
****************************************************/
/* override white.css
****************************************************/
.reveal {
  font-family: 'NotoSansCJKjp', sans-serif; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'NotoSansCJKjp', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-transform: none; }
  .reveal h1 {
    font-size: 1.45em;
    line-height: 1.35; }
    .reveal h1 span {
      display: block;
      width: 100%;
      font-size: .75em;
      text-align: left;
      padding: 0 10%;
      margin-bottom: .5em; }
  .reveal h2 {
    font-size: 1.25em;
    font-weight: 500; }
  .reveal section img {
    border: none; }
  .reveal a {
    text-decoration: underline; }
    .reveal a:hover {
      text-decoration: none; }
    .reveal a img {
      border: none; }
    .reveal a.in-page {
      color: #f80; }
  .reveal .page-item li {
    margin-bottom: 10px; }
  .reveal p.text-right {
    text-align: right;
    font-size: .6em;
    padding: 0 150px;
    margin: 0; }
  .reveal strong {
    color: #3eb746; }
  .reveal ul, .reveal ol, .reveal dl {
    display: block; }

/* slide common content
****************************************************/
.reveal .page-title {
  text-transform: none; }

.reveal .slidepage {
  position: relative;
  padding-bottom: 72px; }
  .reveal .slidepage .pagecaption {
    position: absolute;
    height: 60px; }

.reveal .nombre {
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-size: .5em;
  text-align: right; }

.reveal .inline-block {
  display: inline-block; }

.reveal .unordered-list {
  list-style-type: none; }

/****************************************************
/*
/* page style
/*
****************************************************/
/* slide common page
****************************************************/
.reveal .slidepage {
  position: relative;
  padding-bottom: 76px; }
  .reveal .slidepage .pagecaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 20px;
    speak: none; }
    .reveal .slidepage .pagecaption .left,
    .reveal .slidepage .pagecaption .right {
      margin: 0; }
    .reveal .slidepage .pagecaption .left {
      display: inline-block;
      text-align: left;
      font-size: .5em;
      margin-right: auto; }
    .reveal .slidepage .pagecaption .right {
      display: inline-block;
      text-align: right; }
    .reveal .slidepage .pagecaption .front-logo img,
    .reveal .slidepage .pagecaption .slide-wapuu img,
    .reveal .slidepage .pagecaption .slide-logo img {
      background: none;
      border: none;
      box-shadow: none;
      margin: 0; }
    .reveal .slidepage .pagecaption .front-logo img {
      width: 10%; }
    .reveal .slidepage .pagecaption .slide-wapuu img {
      width: 43%; }
    .reveal .slidepage .pagecaption .slide-logo img {
      width: 15%; }

/* slide page
****************************************************/
.reveal .start-page01 .pagecaption .slide-wapuu img,
.reveal .start-page02 .pagecaption .slide-wapuu img,
.reveal .start-page03 .pagecaption .slide-wapuu img,
.reveal .front-page .pagecaption .slide-wapuu img {
  width: 25%; }

.reveal .start-page01 .pagetitle {
  text-align: left;
  padding: 10px 220px 280px; }
  .reveal .start-page01 .pagetitle img {
    width: 50%; }

.reveal section.start-page01 {
  background-image: url(../../img/cropped-main-visual2.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover; }

.reveal .start-page02 .pagetitile {
  font-size: 1.8em;
  padding: 145px 0 146px; }

.reveal .start-page03 .slide-link {
  font-size: 1.8em;
  padding: 117px 0 180px; }

.reveal .front-page .front-WCOtitle {
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 97px; }

.reveal .page01 h2,
.reveal .page02 h2 {
  font-size: 1em;
  text-align: left; }

.reveal .page01 a,
.reveal .page02 a {
  display: block; }

.reveal .page01 .page-item {
  margin-bottom: 57px; }

.reveal .page01 .artist-image {
  display: block;
  width: 52%;
  margin: 0 auto 10px; }
  .reveal .page01 .artist-image figcaption {
    font-size: .75em; }

.reveal .page02 .page-item {
  margin-bottom: 54px; }

.reveal .page02 .screen-shot {
  display: block;
  width: 60%;
  margin: 0 auto 10px; }
  .reveal .page02 .screen-shot figcaption {
    font-size: .75em; }

.reveal .page03 .page-item {
  padding-top: 45px;
  margin-bottom: 178px; }

.reveal .page04 .page-item {
  padding-top: 50px;
  margin-bottom: 163px; }

.reveal .page05 .page-item {
  padding-top: 60px;
  margin-bottom: 183px; }
  .reveal .page05 .page-item strong {
    font-size: 1.8em; }

.reveal .page07 .page-item {
  padding-top: 25px;
  margin-bottom: 160px; }
  .reveal .page07 .page-item strong {
    font-size: 1.5em; }

.reveal .page08 .page-item {
  margin-bottom: 139px; }

.reveal .page09 .page-item {
  margin-bottom: 105px; }
  .reveal .page09 .page-item .ib-left {
    margin-top: 0; }

.reveal .page10 .page-title {
  margin-bottom: 0; }

.reveal .page10 .page-item {
  margin-bottom: 61px; }

.reveal .page06 .page-item,
.reveal .page11 .page-item {
  padding-top: 60px;
  margin-bottom: 207px; }

.reveal .page12 .page-item {
  padding-top: 25px;
  margin-bottom: 134px; }

.reveal .page13 .page-title {
  margin-bottom: 0; }

.reveal .page13 .page-item {
  margin-bottom: 52px; }

.reveal .page14 .page-title {
  margin-bottom: 0; }

.reveal .page14 .page-item {
  margin-bottom: 52px; }
  .reveal .page14 .page-item a .screen-shot img {
    width: 70%; }

.reveal .page15 .page-title,
.reveal .page16 .page-title {
  margin-bottom: 0; }

.reveal .page15 .page-item,
.reveal .page16 .page-item {
  margin-bottom: 158px; }

.reveal .page17 .page-title {
  margin-bottom: 0; }

.reveal .page17 .page-item {
  margin-bottom: 130px; }

.reveal .page18 .page-item {
  font-size: .8em;
  margin-bottom: 91px; }
  .reveal .page18 .page-item li {
    font-size: .8em; }
    .reveal .page18 .page-item li ul {
      margin-top: 10px; }

.reveal .page19 .page-item {
  margin-bottom: 253px; }
  .reveal .page19 .page-item .definition-list,
  .reveal .page19 .page-item ul {
    margin: 0 200px; }

.reveal .page20 .page-item,
.reveal .page22 .page-item {
  margin-bottom: 43px; }
  .reveal .page20 .page-item .definition-list,
  .reveal .page20 .page-item ul,
  .reveal .page22 .page-item .definition-list,
  .reveal .page22 .page-item ul {
    font-size: .95em; }

.reveal .page20 .page-item .definition-list,
.reveal .page20 .page-item ul {
  margin: 0 120px; }

.reveal .page21 .page-item {
  margin-bottom: 199px; }
  .reveal .page21 .page-item .definition-list,
  .reveal .page21 .page-item ul {
    margin: 0 40px; }

.reveal .page22 .page-item .definition-list,
.reveal .page22 .page-item ul {
  margin: 0 30px; }

.reveal .page23 .page-item {
  margin-bottom: 106px; }

.reveal .page24 .page-item {
  padding-top: 25px;
  margin-bottom: 208px; }
  .reveal .page24 .page-item ol {
    margin: 0 120px; }

.reveal .page25 .page-item,
.reveal .page27 .page-item,
.reveal .page28 .page-item {
  padding-top: 25px;
  margin-bottom: 134px; }

.reveal .page26 .page-item {
  padding-top: 50px;
  margin-bottom: 130px; }
  .reveal .page26 .page-item p {
    font-size: 1.8em; }

.reveal .page29 .page-item {
  margin-bottom: 50px; }

.reveal .page30 .page-item {
  padding-top: 25px;
  margin-bottom: 90px; }

.reveal .page31 .page-item {
  padding-top: 25px;
  margin-bottom: 80px; }
  .reveal .page31 .page-item .item-page31 {
    display: inline-block;
    width: calc(49% - 60px);
    padding: 0 10px; }
    .reveal .page31 .page-item .item-page31 + .item-page31 {
      width: 49%;
      border-left: 1px solid; }
  .reveal .page31 .page-item h3 {
    font-size: .7em;
    text-align: left; }
  .reveal .page31 .page-item ul {
    width: 100%;
    margin: 0 70px 10px; }
    .reveal .page31 .page-item ul li {
      font-size: .6em; }

.reveal .page32 .page-item {
  padding-top: 25px;
  margin-bottom: 80px; }

.reveal .last-page01 .appendix {
  display: inline-block;
  width: 49%;
  padding: 25px 10px 0;
  margin: 0 0 50px; }
  .reveal .last-page01 .appendix + .appendix {
    border-left: 1px solid; }
  .reveal .last-page01 .appendix h3 {
    font-size: .5em; }
  .reveal .last-page01 .appendix li {
    font-size: .5em; }

.reveal .last-page02 h2 img {
  width: 32.8%; }
