@charset "UTF-8";
/****************************************************
/*
/* slide config
/*
****************************************************/
/* slide common style
****************************************************/
@import url(../../lib/font/noto-sans-cjk-jp/NotoSansCJKjp.css);
*, *::before, *::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  padding: 0;
  margin: 0; }

embed, iframe, object {
  max-width: 100%; }

/****************************************************
/*
/* slide style
/*
****************************************************/
/* Custom classes
****************************************************/
/* clearfix ************************************/
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Custom mixins
****************************************************/
/* 文字サイズ出力 ************************************/
/* 上下左右中央レイアウト ************************************/
/* mediaQuery ************************************/
/* iframe responsive ************************************/
/* Include theme-specific fonts
****************************************************/
/* override black.css
****************************************************/
.reveal {
  font-family: 'NotoSansCJKjp', sans-serif; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'NotoSansCJKjp', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-transform: none; }
  .reveal h1 {
    font-size: 1.5em;
    line-height: 1.35; }
    .reveal h1 span {
      display: block;
      width: 100%;
      font-size: .75em;
      text-align: left;
      padding: 0 10%;
      margin-bottom: .5em; }
  .reveal h2 {
    font-size: 1.25em;
    font-weight: 500; }

.reveal .slidepage {
  position: relative;
  padding-bottom: 72px; }
  .reveal .slidepage .pagecaption {
    position: absolute;
    height: 72px; }

/****************************************************
/*
/* page style
/*
****************************************************/
/* slide page
****************************************************/
.reveal section:not(.front-page) .pagecaption {
  speak: none; }
  .reveal section:not(.front-page) .pagecaption .left {
    font-size: .5em; }

.reveal .start-page01 .pagetitle {
  text-align: left;
  padding: 0 220px 200px; }
  .reveal .start-page01 .pagetitle img {
    width: 50%;
    border: none; }

.reveal section.start-page01 {
  background-image: url(../../img/cropped-main-visual2.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover; }

.reveal .start-page02 .pagetitile {
  font-size: 1.8em;
  padding: 100px 0; }

.reveal .start-page03 .slide-link {
  font-size: 1.8em;
  padding: 148px 0; }

.reveal .front-page .front-WCOtitle {
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize; }

.reveal .page01 h2 {
  text-align: left; }

.reveal .page01 a {
  display: block; }

.reveal .page01 .artist-image {
  display: block;
  width: 50%;
  margin: 0 auto 10px; }
  .reveal .page01 .artist-image figcaption {
    font-size: .75em; }

/* slide common content
****************************************************/
.reveal .nombre {
  font-size: .5em;
  text-align: right;
  padding: 0 50px; }

.reveal .pagecaption {
  width: 100%;
  display: flex; }
  .reveal .pagecaption .left,
  .reveal .pagecaption .right {
    margin: 0; }
  .reveal .pagecaption .left {
    display: inline-block;
    text-align: left;
    margin-right: auto; }
  .reveal .pagecaption .right {
    display: inline-block;
    text-align: right; }
  .reveal .pagecaption .front-logo img,
  .reveal .pagecaption .slide-wapuu img,
  .reveal .pagecaption .slide-logo img {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0; }
  .reveal .pagecaption .front-logo img {
    width: 10%; }
  .reveal .pagecaption .slide-wapuu img {
    width: %; }
  .reveal .pagecaption .slide-logo img {
    width: 15%; }

/* slide common content
****************************************************/
.reveal .page-title {
  text-transform: normal; }
