@charset "UTF-8";
/****************************************************
/*
/* slide config
/*
****************************************************/
/* slide common style
****************************************************/
@import url(../../lib/font/noto-sans-cjk-jp/NotoSansCJKjp.css);
*, *::before, *::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  padding: 0;
  margin: 0; }

embed, iframe, object {
  max-width: 100%; }

/****************************************************
/*
/* slide style
/*
****************************************************/
/* Custom classes
****************************************************/
/* clearfix ************************************/
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* Custom mixins
****************************************************/
/* 文字サイズ出力 ************************************/
/* 上下左右中央レイアウト ************************************/
/* mediaQuery ************************************/
/* iframe responsive ************************************/
/* Include theme-specific fonts
****************************************************/
/* override white.css
****************************************************/
.reveal {
  font-family: 'NotoSansCJKjp', sans-serif; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'NotoSansCJKjp', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-transform: none; }
  .reveal h1 {
    font-size: 1.45em;
    line-height: 1.35; }
    .reveal h1 span {
      display: block;
      width: 100%;
      font-size: .75em;
      text-align: left;
      padding: 0 10%;
      margin-bottom: .5em; }
  .reveal h2 {
    font-size: 1.25em;
    font-weight: 500; }
  .reveal section img {
    border: none; }
  .reveal a {
    text-decoration: underline; }
    .reveal a img {
      border: none; }

/* slide common content
****************************************************/
.reveal .page-title {
  text-transform: normal; }

.reveal .slidepage {
  position: relative;
  padding-bottom: 72px; }
  .reveal .slidepage .pagecaption {
    position: absolute;
    height: 60px; }

.reveal .nombre {
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-size: .5em;
  text-align: right; }

/****************************************************
/*
/* page style
/*
****************************************************/
/* slide common page
****************************************************/
.reveal .slidepage {
  position: relative;
  padding-bottom: 76px; }
  .reveal .slidepage .pagecaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 20px;
    speak: none; }
    .reveal .slidepage .pagecaption .left,
    .reveal .slidepage .pagecaption .right {
      margin: 0; }
    .reveal .slidepage .pagecaption .left {
      display: inline-block;
      text-align: left;
      font-size: .5em;
      margin-right: auto; }
    .reveal .slidepage .pagecaption .right {
      display: inline-block;
      text-align: right; }
    .reveal .slidepage .pagecaption .front-logo img,
    .reveal .slidepage .pagecaption .slide-wapuu img,
    .reveal .slidepage .pagecaption .slide-logo img {
      background: none;
      border: none;
      box-shadow: none;
      margin: 0; }
    .reveal .slidepage .pagecaption .front-logo img {
      width: 10%; }
    .reveal .slidepage .pagecaption .slide-wapuu img {
      width: 43%; }
    .reveal .slidepage .pagecaption .slide-logo img {
      width: 15%; }

/* slide page
****************************************************/
.reveal .start-page01 .pagecaption .slide-wapuu img,
.reveal .start-page02 .pagecaption .slide-wapuu img,
.reveal .start-page03 .pagecaption .slide-wapuu img,
.reveal .front-page .pagecaption .slide-wapuu img {
  width: 25%; }

.reveal .start-page01 .pagetitle {
  text-align: left;
  padding: 10px 220px 280px; }
  .reveal .start-page01 .pagetitle img {
    width: 50%; }

.reveal section.start-page01 {
  background-image: url(../../img/cropped-main-visual2.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover; }

.reveal .start-page02 .pagetitile {
  font-size: 1.8em;
  padding: 145px 0 146px; }

.reveal .start-page03 .slide-link {
  font-size: 1.8em;
  padding: 117px 0 180px; }

.reveal .front-page .front-WCOtitle {
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 97px; }

.reveal .page01 h2,
.reveal .page02 h2 {
  font-size: 1em;
  text-align: left; }

.reveal .page01 a,
.reveal .page02 a {
  display: block; }

.reveal .page01 .page-item {
  margin-bottom: 57px; }

.reveal .page01 .artist-image {
  display: block;
  width: 52%;
  margin: 0 auto 10px; }
  .reveal .page01 .artist-image figcaption {
    font-size: .75em; }

.reveal .page02 .page-item {
  margin-bottom: 54px; }

.reveal .page02 .screen-shot {
  display: block;
  width: 60%;
  margin: 0 auto 10px; }
  .reveal .page02 .screen-shot figcaption {
    font-size: .75em; }

.reveal .page03 .page-item {
  padding-top: 45px;
  margin-bottom: 208px; }

.reveal .page04 .page-item,
.reveal .page07 .page-item {
  padding-top: 50px;
  margin-bottom: 163px; }
  .reveal .page04 .page-item p,
  .reveal .page07 .page-item p {
    display: inline-block;
    text-align: left; }

.reveal .page05 .page-item,
.reveal .page06 .page-item {
  padding-top: 60px;
  margin-bottom: 227px; }

.reveal .page08 .page-item {
  padding-top: 20px;
  margin-bottom: 139px; }
  .reveal .page08 .page-item p {
    display: inline-block;
    text-align: left; }

.reveal .page09 .page-item,
.reveal .page10 .page-item {
  margin-bottom: 105px; }
  .reveal .page09 .page-item p,
  .reveal .page10 .page-item p {
    display: inline-block;
    text-align: left; }

.reveal .page11 .page-item {
  padding-top: 60px;
  margin-bottom: 227px; }
  .reveal .page11 .page-item p {
    display: inline-block;
    text-align: left; }
