/****************************************************
/*
/* slide config
/*
****************************************************/

/* slide common style
****************************************************/
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol, dl {
  // list-style-type: none;
  padding: 0;
  margin: 0;
}

embed, iframe, object {
  max-width: 100%;
}


/****************************************************
/*
/* slide style
/*
****************************************************/

/* Custom classes
****************************************************/

/* clearfix ************************************/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.ib-left {
  display: inline-block;
  text-align: left;
}

/* Custom mixins
****************************************************/
@import "../template/additional-mixins";

/* Include theme-specific fonts
****************************************************/
@import url(../../lib/font/noto-sans-cjk-jp/NotoSansCJKjp.css);

/* override white.css
****************************************************/
.reveal {
  font-family: 'NotoSansCJKjp', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'NotoSansCJKjp', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-transform: none;
  }
  h1 {
    font-size: 1.45em;
    line-height: 1.35;
    span {
      display: block;
      width: 100%;
      font-size: .75em;
      text-align: left;
      padding: 0 10%;
      margin-bottom: .5em;
    }
  }
  h2 {
    font-size: 1.25em;
    font-weight: 500;
  }
  section {
    img {
      border: none;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    img {
      border: none;
    }
    &.in-page {
      color: #f80;
    }
  }
  .page-item {
    li {
      margin-bottom: 10px;
    }
  }
  p.text-right {
    text-align: right;
    font-size: .6em;
    padding: 0 150px;
    margin: 0;
  }
  strong {
    color: #3eb746;
  }
  ul, ol, dl {
    display: block;
  }
}

/* slide common content
****************************************************/
.reveal {
  .page-title {
      text-transform: none;
    }
  .slidepage {
    position: relative;
    padding-bottom: 72px;
    .pagecaption {
      position: absolute;
      height: 60px;
    }
  }
  .nombre {
    position: absolute;
    right: 10px;
    bottom: 60px;
    font-size: .5em;
    text-align: right;
  }
  .inline-block {
    display: inline-block;
  }
  .unordered-list {
    list-style-type: none;
  }
}


/****************************************************
/*
/* page style
/*
****************************************************/

/* slide common page
****************************************************/
.reveal {
  .slidepage {
    position: relative;
    padding-bottom: 76px;
    .pagecaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      padding: 0 20px;
      speak: none;
      .left,
      .right {
        margin: 0;
      }
      .left {
        display: inline-block;
        text-align: left;
        font-size: .5em;
        margin-right: auto;
      }
      .right {
        display: inline-block;
        text-align: right;
      }
      .front-logo,
      .slide-wapuu,
      .slide-logo {
        img {
          background: none;
          border: none;
          box-shadow: none;
          margin: 0;
        }
      }
      .front-logo {
        img {
          width: 10%;
        }
      }
      .slide-wapuu {
        img {
          width: 43%;
        }
      }
      .slide-logo {
        img {
          width: 15%;
        }
      }
    }
  }
}

/* slide page
****************************************************/
.reveal {
  .start-page01,
  .start-page02,
  .start-page03,
  .front-page {
    .pagecaption {
      .slide-wapuu {
        img {
          width: 25%;
        }
      }
    }
  }
  .start-page01 {
    .pagetitle {
      text-align: left;
      padding: 10px 220px 280px;
      img {
        width: 50%;
      }
    }
  }
  section.start-page01  {
    background-image: url(../../img/cropped-main-visual2.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
  }
  .start-page02 {
    .pagetitile {
      font-size: 1.8em;
      padding: 145px 0 146px;
    }
  }
  .start-page03 {
    .slide-link {
      font-size: 1.8em;
      padding: 117px 0 180px;
    }
  }
  .front-page {
    .front-WCOtitle {
      font-size: 1em;
      font-weight: normal;
      text-transform: capitalize;
      margin-bottom: 97px;
    }
  }
  .page01,
  .page02 {
    h2 {
      font-size: 1em;
      text-align: left;
    }
    a {
      display: block;
    }
  }
  .page01 {
    .page-item {
      margin-bottom: 57px;
    }
    .artist-image {
      display: block;
      width: 52%;
      margin: 0 auto 10px;
      figcaption {
        font-size: .75em;
      }
    }
  }
  .page02 {
    .page-item {
      margin-bottom: 54px;
    }
    .screen-shot {
      display: block;
      width: 60%;
      margin: 0 auto 10px;
      figcaption {
        font-size: .75em;
      }
    }
  }
  .page03 {
    .page-item {
      padding-top: 45px;
      margin-bottom: 188px;
    }
  }
  .page04,
  .page07 {
    .page-item {
      padding-top: 50px;
      margin-bottom: 163px;
    }
  }
  .page05 {
    .page-item {
      padding-top: 60px;
      margin-bottom: 227px;
    }
  }
  .page08 {
    .page-item {
      margin-bottom: 139px;
    }
  }
  .page09 {
    .page-item {
      margin-bottom: 105px;
      .ib-left {
        margin-top: 0;
      }
    }
  }
  .page10 {
    .page-title {
      margin-bottom: 0;
    }
    .page-item {
      margin-bottom: 61px;
    }
  }
  .page06,
  .page11 {
    .page-item {
      padding-top: 60px;
      margin-bottom: 207px;
    }
  }
  .page12 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 134px;
    }
  }
  .page13 {
    .page-title {
      margin-bottom: 0;
    }
    .page-item {
      margin-bottom: 52px;
    }
  }
  .page14 {
    .page-title {
      margin-bottom: 0;
    }
    .page-item {
      margin-bottom: 52px;
      a {
        .screen-shot {
          img {
            width: 70%;
          }
        }
      }
    }
  }
  .page15,
  .page16 {
    .page-title {
      margin-bottom: 0;
    }
    .page-item {
      margin-bottom: 158px;
    }
  }
  .page17 {
    .page-title {
      margin-bottom: 0;
    }
    .page-item {
      margin-bottom: 130px;
    }
  }
  .page18 {
    .page-item {
      font-size: .8em;
      margin-bottom: 91px;
      li {
        font-size: .8em;
        ul {
          margin-top: 10px;
        }
      }
    }
  }
  .page19 {
    .page-item {
      margin-bottom: 253px;
      .definition-list,
      ul {
        margin: 0 200px;
      }
    }
  }
  .page20,
  .page22 {
    .page-item {
      margin-bottom: 43px;
      .definition-list,
      ul {
        font-size: .95em;
      }

    }
  }
  .page20 {
    .page-item {
      .definition-list,
      ul {
        margin: 0 120px;
      }

    }
  }
  .page21 {
    .page-item {
      margin-bottom: 199px;
      .definition-list,
      ul {
        margin: 0 40px;
      }
    }
  }
  .page22 {
    .page-item {
      .definition-list,
      ul {
        margin: 0 30px;
      }

    }
  }
  .page23 {
    .page-item {
      margin-bottom: 106px;
    }
  }
  .page24 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 208px;
      ol {
        margin: 0 120px;
      }
    }
  }
  .page25,
  .page27,
  .page28 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 134px;
    }
  }
  .page26 {
    .page-item {
      padding-top: 50px;
      margin-bottom: 130px;
      p {
        font-size: 1.8em;
      }
    }
  }
  .page29 {
    .page-item {
      margin-bottom: 50px;
    }
  }
  .page30 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 90px;
    }
  }
  .page31 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 80px;
      .item-page31 {
        display: inline-block;
        width: calc(49% - 60px);
        padding: 0 10px;
        + .item-page31 {
          width: 49%;
          border-left: 1px solid;
        }
      }
      h3 {
        font-size: .7em;
        text-align: left;
      }
      ul {
        width: 100%;
        margin: 0 70px 10px;
        li {
          font-size: .6em;
        }
      }
    }
  }
  .page32 {
    .page-item {
      padding-top: 25px;
      margin-bottom: 80px;
    }
  }
}
