/****************************************************
/*
/* slide config
/*
****************************************************/

/* slide common style
****************************************************/
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  // list-style-type: none;
  padding: 0;
  margin: 0;
}

embed, iframe, object {
  max-width: 100%;
}


/****************************************************
/*
/* slide style
/*
****************************************************/

/* Custom classes
****************************************************/

/* clearfix ************************************/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* Custom mixins
****************************************************/
@import "../template/additional-mixins";

/* Include theme-specific fonts
****************************************************/
@import url(../../lib/font/noto-sans-cjk-jp/NotoSansCJKjp.css);

/* override black.css
****************************************************/
.reveal {
  font-family: 'NotoSansCJKjp', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'NotoSansCJKjp', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-transform: normal !important;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.35;
    span {
      display: block;
      width: 100%;
      font-size: .75em;
      text-align: left;
      padding: 0 10%;
      margin-bottom: .5em;
    }
  }
  h2 {
    font-size: 1.25em;
    font-weight: 500;
  }
}

.reveal {
  .slidepage {
    position: relative;
    padding-bottom: 72px;
    .pagecaption {
      position: absolute;
      height: 72px;
    }
  }
}


/****************************************************
/*
/* page style
/*
****************************************************/

/* slide page
****************************************************/
.reveal {
  .front-page, .page01, .page02 {}
  section:not(.front-page) {
    .pagecaption {
      speak: none;
      .left {
        font-size: .5em;
      }
    }
  }
  .front-page {
    .front-WCOtitle {
      font-size: 1em;
      font-weight: normal;
      text-transform: capitalize;
    }
  }
  .page01 {
    .slide-link {
      font-size: 1.8em;
      padding: 120px 0;
    }
  }
  .page02 {
    a {
      display: block;
    }
    .artist-image {
      display: block;
      width: 50%;
      margin: 0 auto 10px;
      figcaption {
        font-size: .75em;
      }
    }
  }
}

/* slide common content
****************************************************/
.reveal {
  .nombre {
    font-size: .5em;
    text-align: right;
    padding: 0 50px;
  }
  .pagecaption {
    width: 100%;
    display: flex;
    .left,
    .right {
      margin: 0;
    }
    .left {
      display: inline-block;
      text-align: left;
      margin-right: auto;
    }
    .right {
      display: inline-block;
      text-align: right;
    }
    .front-logo,
    .slide-wapuu,
    .slide-logo {
      img {
        background: none;
        border: none;
        box-shadow: none;
        margin: 0;
      }
    }
    .front-logo {
      img {
        width: 10%;
      }
    }
    .slide-wapuu {
      img {
        width: 100%;
      }
    }
    .slide-logo {
      img {
        width: 15%;
      }
    }
  }
}

/* slide common content
****************************************************/
.reveal {
  .page-title {
    text-transform: normal;
  }
}
